.tp10-dropzone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.audio-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.audio-compressed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
